    body {
    margin:0;
    padding:0;
    background: #edebd5;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}
#str, #strkaz {
	width:100%; /*Ширина блока*/
	height:90px; /*Высота блока*/
	font-size: 16px;
	color: #00000; 
	font-family: Arial;
    border: 3px solid red; /* задаём границу */
    background:#fff00f;
}

#container {
 margin:0 auto;/*Центрирование блока*/
	background:#ccc;/*Цвет блока*/
	max-width:1280px;/*Максимальная ширина при больших разрешениях*/
	min-width:540px;/*Минимальная ширина при маленьких разрешениях*/
	width:auto;/*Ширина в зависимости от разрешения экрана*/
}     
.main {
    height:100%;
}
.main_in_main {
    height:100%;
}
.content {
    padding-top:0px;
    height:200px;
}  
  
