    body {
    margin:0;
    padding:0;
    background: #edebd5;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}
#str, #strkaz {
	width:550px; /*Ширина блока*/
	height:150px; /*Высота блока*/
	font-size: 16px;
	color: #00000;
	font-family: Arial;
    border: 3px solid red; /* задаём границу */
    background:#fff00f;
}

#container {
width:600px; /*Ширина блока*/
height:200px; /*Высота блока*/
margin:0 auto;
overflow:visible;
position:absolute;
left:50%; 
top:50%;
margin-left:-200px; /*Смещаем блок на половину всей ширины влево*/
margin-top:-100px; /*Смещаем блок на половину высоты вверх*/
background:#ffffff;
}     
.main {
    height:100%;
}
.main_in_main {
    height:100%;
}
.content {
    padding-top:0px;
    height:200px;
}
