    body {
    margin:0;
    padding:0;
   background-image: url('fon-kurazh.jpg')  ;
	    background-position: left bottom; /* Положение фона */
    background-repeat: repeat-x; /* Повторяем фон по горизонтали */
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;  
    color: #000;  
}   
#str, #strkaz {
	width:100%; /*Ширина блока*/
	height:90px; /*Высота блока*/
	font-size: 16px;
	color: #00000; 
	font-family: Arial;
    #border: 3px solid red; /* задаём границу */
    background:#fff00f;
}
  
#container {
        margin:0 auto;/*Центрирование блока*/
	background:#ccc;/*Цвет блока*/ 
	position: relative ;
        max-width: 800px;
        height: 100%;
	#width:auto;/*Ширина в зависимости от разрешения экрана*/
}     
.main {
    height:100%;  
}
.main_in_main { 
    height:100%; 
} 
.content { 
    padding-top:0px; 
    height:300px;  
}     
  
   
